<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/svg+xml" href="../../imgs/Logo_website_tab.svg"/>
    <link rel="stylesheet" href="../../style.css"/>
    <script src="../../scripts/script.js" defer></script>
    <script src="../../scripts/logout.js" defer></script>
    <script src="../../scripts/header.js" defer></script>
    <script src="../../scripts/profile.js" defer></script>
    <script src="../../scripts/delete_profile.js" defer></script>
    <script src="../../scripts/progressbar.js" defer></script>
    <title>DTG Block 3 - Exam Ease</title>
</head>
<body id="body">
    <div class="container">
        <header class="topbar">
            <div class="topbar_left">
                <div class="tooltip_container">
                    <a href="../index.html" class="brand" aria-label="Go to frontpage">
                        <img src="../../imgs/Logo_header.svg" alt="Exam Ease logo">
                        <span class="brand_name">Exam Ease</span>
                    </a>
                    <div class="tooltip_box header_left">
                        Navigate to Homepage
                    </div>
                </div>
            <!-- Normal nav (desktop) -->
                <!-- Normal nav (desktop) logged IN -->
                <div class="logged_in">
                    <nav class="nav_links">
                        <a href="../submissions/my_submission.html" class="btn">My Submissions</a>
                        <a href="../submissions/submission_form.html" class="btn">Submission Form</a>
                        <a href="../submissions/submission_info.html" class="btn">Submission Information</a>
                    </nav>
                </div>
                <!-- Normal nav (desktop) logged OUT -->
                <div class="logged_out">
                    <nav class="nav_links">
                        <a href="../submissions/submission_form.html" class="btn">Submission Form</a>
                        <a href="../submissions/submission_info.html" class="btn">Submission Information</a>
                    </nav>
                </div>
            <!-- Small nav (mobile) -->
                <!-- Dropdown nav (mobile) -->
                <div class="dropdown">
                    <button class="btn nav_dropdown dropdownButton">Menu</button>
                    <!-- Dropdown nav (mobile) logged IN -->
                    <div class="logged_in">
                        <nav class="dropdown_content nav_links">
                            <a href="../submissions/my_submission.html" class="btn">My Submissions</a>
                            <a href="../submissions/submission_form.html" class="btn">Submission Form</a>
                            <a href="../submissions/submission_info.html" class="btn">Submission Information</a>
                        </nav>
                    </div>
                    <!-- Dropdown nav (mobile) logged OUT -->
                    <div class="logged_out">
                        <nav class="dropdown_content nav_links">
                            <a href="../submissions/submission_form.html" class="btn">Submission Form</a>
                            <a href="../submissions/submission_info.html" class="btn">Submission Information</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="topbar_right">
                <button class="btn btn_search">
                    <img src="../../imgs/search-icon.webp" alt="Search icon">
                </button>
                <input class="search_bar" type="text" placeholder="Search">
                <!-- right header logged IN -->
                <div class="logged_in">
                    <div class="dropdown" id="userProfile">
                        <div class="tooltip_container">
                            <button class="btn btn_profile dropdownButton" aria-label="Show profile">
                                <img src="../../imgs/profile_icon.svg" alt="Profile icon">
                            </button>
                            <div class="tooltip_box header_rigth">
                                Show Profile
                            </div>
                        </div>
                        <aside class="popup profile_dropdown dropdown_content">
                            <div class="profile_header" id= "profile_username"></div>
                            <div class="profile_divider">
                                <hr/>
                                <a href="../submissions/my_submission.html" class="profile_link">My Submissions</a>
                                <hr/>
                            </div>
                            <div class="profile_section_title" id="profile_role"></div>
                            <div class="profile_info">
                                <span id="profile_email"></span>
                                <span id="profile_university"></span>
                                <span id="profile_semester"></span>
                                <span id="profile_fieldofstudy"></span>
                            </div>
                            <div class="buttons">
                                <button class="small_btn btn_logout" id="logoutBtn">Log out</button>
                                <button class="small_btn btn_delete">Delete profile</button>
                            </div>
                        </aside>
                    </div>
                </div>
                <!-- right header logged OUT -->
                <div class="logged_out">
                    <a href="../login.html" class="btn btn_ghost_login">Log in</a>
                    <a href="../signup.html" class="btn btn_signup">Sign up</a>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="heading_wrapper">
                <h1 class="heading">Block 3: Induction & Recursion</h1>
                <div class="breadcrumbs">
                    <a href="../first_semester.html">Course Overview</a>
                    <span>/</span>
                    <a href="../dtg/dtg_overview.html">DTG Overview</a>
                    <span>/</span>
                    <span class="current">DTG Block 3</span>
                </div>
            </section>
            <div class="main_components">
                <aside class="progress_section">
                    <div class="progress_toggle_tooltip_container">
                        <button class="progress_toggle_btn" aria-label="Hide progress">

                        </button>

                        <div class="progress_toggle tooltip_box">
                            Hide Progress bar
                        </div>
                    </div>
                    <div class="progress_content">
                    <h3>Progress</h3>
                    <section class="progress_grid expanded">
                        <div class="progress_group DTG">
                            <div class="tooltip_container">
                                <div class="progress_item DTG">
                                    <a href="../dtg/dtg_overview.html" class="progress_bar dtg_bar">DTG</a>
                                    <a href="../dtg/dtg_overview.html" class="progress_percentage dtg_percentage">0%</a>
                                </div>
                                <div class="tooltip_box">
                                    Navigate to DTG Overview
                                </div>
                            </div>
                            <div class="tooltip_container">
                                <div class="progress_item sub">
                                    <a href="dtg_block1.html" class="progress_bar sub block1">Block 1</a>
                                    <a href="dtg_block1.html" class="progress_percentage sub block1_percentage">0%</a>
                                </div>
                                <div class="tooltip_box">
                                    Navigate to Block 1
                                </div>
                            </div>
                            <div class="tooltip_container">
                                <div class="progress_item sub">
                                    <a href="dtg_block2.html" class="progress_bar sub block2">Block 2</a>
                                    <a href="dtg_block2.html" class="progress_percentage sub block2_percentage">0%</a>
                                </div>
                                <div class="tooltip_box">
                                    Navigate to Block 2
                                </div>
                            </div>
                            <div class="progress_item sub">
                                <a href="dtg_block3.html" class="progress_bar sub block3">Block 3</a>
                                <a href="dtg_block3.html" class="progress_percentage sub block3_percentage">0%</a>
                            </div>

                            <div class="tooltip_container">
                                <div class="progress_item sub">
                                    <a href="dtg_block4.html" class="progress_bar sub block4">Block 4</a>
                                    <a href="dtg_block4.html" class="progress_percentage sub block4_percentage">0%</a>
                                </div>
                                <div class="tooltip_box">
                                    Navigate to Block 4
                                </div>
                            </div>
                        </div>
                        <div class="progress_group P0">
                            <div class="progress_item P0">
                                <a href="#" class="progress_bar">P0</a>
                                <a href="#" class="progress_percentage">0%</a>
                            </div>
                        </div>
                        <div class="progress_group IMPR">
                            <div class="progress_item IMPR">
                                <a href="#" class="progress_bar">IMPR</a>
                                <a href="#" class="progress_percentage">0%</a>
                            </div>
                        </div>
                        <div class="progress_group P1">
                            <div class="progress_item P1">
                                <a href="#" class="progress_bar">P1</a>
                                <a href="#" class="progress_percentage">0%</a>
                            </div>
                        </div>
                        <div class="progress_group PBL">
                            <div class="progress_item PBL">
                                <a href="#" class="progress_bar">PBL</a>
                                <a href="#" class="progress_percentage">0%</a>
                            </div>
                        </div>
                    </section>
                    </div>
                </aside>
                <section class="main_section">
                    <section class="course_grid course_grid_semester_page DTG_overview">
                        <div class="block_section">
                            <ul class="lecture_list">
                                <li>
                                    <details class="lecture_dropdown">
                                        <summary class="lecture_item">
                                            <input id="lecture-1" class="lecture_checkbox" type="checkbox">
                                            <span>Lecture 1: Induction</span>
                                            <span class="lecture_counter">0/2</span>
                                            <span class="lecture_arrow">▾</span>
                                        </summary>
                                        <div class="lecture_content">
                                            <input class="topic_checkbox" type="checkbox">
                                            <span>Induction</span>
                                        </div>
                                        <div class="lecture_content">
                                            <input class="topic_checkbox" type="checkbox">
                                            <span>De Morgans laws</span>
                                        </div>
                                    </details>
                                </li>
                                <li>
                                     <details class="lecture_dropdown">
                                        <summary class="lecture_item">
                                            <input id="lecture-2" class="lecture_checkbox" type="checkbox">
                                            <span>Lecture 2: Strong Induction</span>
                                            <span class="lecture_counter">0/1</span>
                                            <span class="lecture_arrow">▾</span>
                                        </summary>
                                        <div class="lecture_content">
                                            <input class="topic_checkbox" type="checkbox">
                                            <span>Strong induction</span>
                                        </div>
                                    </details>
                                </li>
                                <li>
                                     <details class="lecture_dropdown">
                                        <summary class="lecture_item">
                                            <input id="lecture-3" class="lecture_checkbox" type="checkbox">
                                            <span>Lecture 3: Recursion and structural induction</span>
                                            <span class="lecture_counter">0/2</span>
                                            <span class="lecture_arrow">▾</span>
                                        </summary>
                                        <div class="lecture_content">
                                            <input class="topic_checkbox" type="checkbox">
                                            <span>Recursion</span>
                                        </div>
                                        <div class="lecture_content">
                                            <input class="topic_checkbox" type="checkbox">
                                            <span>structural induction</span>
                                        </div>
                                    </details>
                                </li>
                                <li>
                                     <details class="lecture_dropdown">
                                        <summary class="lecture_item">
                                            <input id="lecture-4" class="lecture_checkbox" type="checkbox">
                                            <span>Lecture 4: Recursive Algorithms</span>
                                            <span class="lecture_counter">0/1</span>
                                            <span class="lecture_arrow">▾</span>
                                        </summary>
                                        <div class="lecture_content">
                                            <input class="topic_checkbox" type="checkbox">
                                            <span>Recursive algorithms</span>
                                        </div>
                                    </details>
                                </li>
                                <li>
                                     <details class="lecture_dropdown">
                                        <summary class="lecture_item">
                                            <input id="workshop-1" class="lecture_checkbox" type="checkbox">
                                            <span>Workshop 3</span>
                                            <span class="lecture_counter">0/1</span>
                                            <span class="lecture_arrow invisible_arrow">▾</span>
                                        </summary>
                                    </details>
                                </li>
                            </ul>
                        </div>
                    </section>
                </section>
            </div>
        </main>
        <footer class="footer one">
            <div class="footer">
                <div class="footer_column footer_column_left">
                    <h4>Features</h4>
                    <ul>
                        <li><a href="../first_semester.html">Explore First Semester Courses</a></li>
                        <li><a href="../dtg_blocks/dtg_block1.html">View DTG Curriculum</a></li>
                    </ul>
                </div>
                <div class="footer_column footer_column_right visible_link">
                    <h4>IT Support</h4>
                    <p><a href="#">Tel: +45 00 00 00 00</a></p>
                    <p><a href="#">E-mail: itservice@support.dk</a></p>
                </div>
            </div>
            <hr/>
            <div class="footer three">
                <div class="footer_column footer_column_left footer_column_right three">
                    <h4>About Exam Ease</h4>
                    <p>Exam Ease is a platform designed to simplify exam preparation and study management for students across multiple Aalborg University programs and semesters.</p>
                    <p>
                        By gathering up-to-date exam information, previous exam sets, curriculum overviews detailing the topics covered in the course, and course details, in one convenient place,
                        Exam Ease makes it easier for students to access information they need to know about their courses and exams.
                    </p>
                    <p>
                        The platform provides students with a starting point for exam preparation.
                        Making it easier for students to start creating effective study plans while the integrated progress tracker allows them to easily monitor their study progress and stay on top of their goals.
                        Helping students feel prepared for their exams, stay organized, and navigate their courses and curriculum stress-free.
                    </p>
                </div>
            </div>
        </footer>
    </div>
<!-- FULL SCREEN OVERLAYS -->
	<!-- Profile Has Been Successfully Deleted -->
	<div class="overlay" id="deleteOverlay">
		<div class="inside_overlay delete_profile">
		<h1>Your profile has been successfully deleted!</h1>
		<a href="../index.html" class="md_btn close" onclick="off('deleteOverlay')">Close</a>
		</div>
	</div>
</body>
</html>