
/*---- RESPONSIVE DESIGN ----*/

@media screen and (max-width: 1190px) {
  /* The nav links becomes a dropdown menu */
  .nav_links {
    display: none;
  }

  .nav_dropdown {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  /** The Path/Breadcrumbs **/
  .heading_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .breadcrumbs {
    position: static;
    transform: none;
    /* margin-top: 0.25rem; */
    text-align: center;
    padding-left: 0;
    margin-bottom: 0.25rem;
  }

  /* -Submission info page*/
  /* .big_box {
    width: 100%;
  } */
}

@media screen and (max-width: 900px) {
  /* --The grid of buttons becomes one column instead of two - on a semester page*/
  .course_grid_semester_page {
    grid-template-columns: 1fr;
    row-gap: clamp(0.5rem, 2vw, 2rem);
  }

  /* --The grid of buttons becomes two columns instead of three - on a front page*/
  .course_grid_front_page {
    grid-template-columns: repeat(2, 1fr);
  }

  /* --Overlays */
  .inside_overlay h2 {
    font-size: large;
  }

  /** Replace search bar with icon **/
  /* --Hide full search bar */
  .topbar.logged_out .search_bar {
    display: none;
  }
  
  /* --Show icon instead of search bar */
  .topbar.logged_out .btn_search {
    display: block;
  }

  .md_btn.cancel, .md_btn.submit, .md_btn.no {
    width: clamp((90/16) * 1rem, (140/16) * 1vh, (140/16) * 1rem);
  }
}

@media screen and (max-width: 780px) {
  .submission_form {
    grid-template-columns: 1fr;
    grid-template-areas:
      "intro"
      "program"
      "course"
      "type"
      "content"
      "comments"
      "attachments"
      "submit";
    row-gap: var(--margin-sides-smallscreen);
  }
}

@media screen and (max-width: 710px) {

  /* Replace search bar with icon */
  /* --Hide full search bar */
  .search_bar {
    display: none;
  }

  /* --Show icon instead of search bar */
  .btn_search {
    display: block;
  }

  /* Stack sidebar and content vertically */
  /* --Pages with a sidebar become one column */
  .main_components {
    grid-template-columns: 1fr;
    grid-template-areas:
      "progress_section"
      "main_section";
    row-gap: var(--gap-between-elements);
  }

  .main_components:has(.progress_section.collapsed) {
    grid-template-columns: 1fr;
    margin-right: 0rem;
  }

  .progress_section.collapsed {
    justify-self: start;
    margin-bottom: 1.5rem;
  }

  /* Progress grid becomes two columns */
  /* --The progress bars becomes two columns instead of one */
  .progress_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* --Overlays */
  .inside_overlay {
    padding: var(--margin-sides-smallscreen);
    row-gap: var(--margin-sides-smallscreen);
  }

  /** Reduce side margins on medium small screens **/
  /* --The left side margins are changed to become slimmer - sides of the screen to the first element */
  .topbar_left, .main, .footer_column_left {
    margin-left: var(--margin-sides-mdscreen);
  }

  /* The right side margins are changed to become slimmer - sides of the screen to the first element */
  .topbar_right, .main, .footer_column_right {
    margin-right: var(--margin-sides-mdscreen);
  }
}

@media screen and (max-width: 610px) {
  /* Pages without a sidebar becomes one column */
  .main_components:not(:has(.progress_section)) {
    grid-template-columns: 1fr;
  }

  /** Hide brand_name (Site title) **/
  .topbar.logged_out .brand_name {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  /* Reduce side margins on small screens */
  /* --The left side margins are changed to become slimmer - sides of the screen to the first element */
  .topbar_left, .main, .footer_column_left {
    margin-left: var(--margin-sides-smallscreen);
  }

  /* The right side margins are changed to become slimmer - sides of the screen to the first element */
  .topbar_right, .main, .footer_column_right {
    margin-right: var(--margin-sides-smallscreen);
  }
}