/*---- GLOBAL VARIABLES (Style Sheet) ----*/
/* --Reusable values for colors, spacing, borders, and shadows. Helps maintain consistency and simplifies updates. */
:root {
  --color-bg: hsl(201, 49%, 88%); /* --color-bg: #cbe2ed; */ /* A lighter version of --color-primary */
  --color-primary: hsl(201, 49%, 62%); /* --color-primary: #76add0; */
  /*--color-primary-dark: #5e9bc3;*/
  --color-hover-bg: hsl(201, 49%, 82%);  /* A less lighter version of --color-primary */
  --color-hover-text: hsl(45, 100%, 62%);
  --color-hover-bg-light: hsl(201, 49%, 92%);

  --color-text: #111111;
  --color-white: #ffffff;
  --color-placeholder-text: hsl(0, 0%, 42%);
  --color-transparent: #55555500;
  --color-red: #dc1919;


  /* ----?!---- Letters*/
  /* letter-spacing: 0.08em; */
  /*  text-transform: uppercase; */

  /* Spacing */
  /* --The margin size between the sides of the screen and the first element */
  --margin-sides-largescreen: 5rem; /* --Used as primary (default) */
  --margin-sides-mdscreen: 2.5rem;
  --margin-sides-smallscreen: 1.25rem; /* --Used when screen width is less than 540: @media screen and (max-width: 540px){} */
  --gap-between-elements: clamp(0.5rem, 2.5vw, 2.5rem); /* --Large screens are 2.5rem, Small screens shrinks toward 0.5rem */
  --padding-btn: clamp(0.5rem, 1vw, 1rem); 
  --padding-header: 0.5rem clamp(0.5rem, 1vw, 1rem);

  /* Borders & radius */
  --border-default: 1.5px solid var(--color-bg);
  --border-small-btn: 1.5px solid var(--color-primary);
  --border-light-background: 2px solid var(--color-primary);
  --border-dark-background: 2px solid var(--color-hover-bg);
    
  
  --radius-sm: 5px;   /* --Border radius of corners on SMALL components (toggle btn, hover lables) */
  --radius-md: 10px;  /* --Border radius of corners on BUTTONS */
  --radius-lg: 25px;  /* --Border radius of corners on OVERLAY */


  /* Font Size & Line height */
  --font-headlines: 600 32pt/100% Trebuchet MS, Georgia, monospace, serif;  /* letter-spacing: -1%; */  /* Names of the pages */ /* h1 */
  
  --font-small-headline: 600 24pt/100% Trebuchet MS, Georgia, monospace, serif;  /* letter-spacing: 0%; */                        /* h2 */
  --font-paragraphs: 400 20pt/150% Trebuchet MS, Georgia, monospace, serif;  /* letter-spacing: 0%; */  /* Normal writing on the pages */
  --font-light-paragraph: 100 20pt/150% Trebuchet MS, Georgia, monospace, serif; /* letter-spacing: 0%; */  /* Light Normal writing on pages - Buttons on the pages */

  --font-hyperlink: 400 20pt/100% Trebuchet MS, Georgia, monospace, serif;  /* letter-spacing: 0%;  text-decoration-line: underline;  color: var(--color-primary)/normal; */  /* Links */
  --font-longer-paragraphs: 400 18pt/180% Trebuchet MS, Georgia, monospace, serif;  /* letter-spacing: 2%; */  /* Use on pages with mainly text */

  --font-banner-icon: 200 18pt/100% Trebuchet MS, Georgia, monospace, serif; /* letter-spacing: 2%; */
  --font-placeholder-text: 300 16pt/100% Trebuchet MS, Georgia, monospace, serif;  /* letter-spacing: 2%; */  /* Used on log in, sign up pages, submission form.  */
  



/*
h1 is    32px    (2em)
h2 is    24px  (1.5em)
h3 is 18.72px (1.17em)
h4 is    16px    (1em)

p  is    16px?


16px should be the lowest font size. 16px = 12pt
  h5 is 13.28px (0.83em)
  h6 is 10.72px (0.67em)
*/


/*PROFILE: text-decoration-line: overline underline; */

  

  /*   font-family: Trebuchet MS, Georgia, monospace, serif;   */

/* 
font: 600 10pt/150% Georgia; 
font: italic small-caps bold 15px/30px Georgia, serif;
font: italic bold 16px Arial, sans-serif;
font: 20px Arial, sans-serif;
*/

  /*
    font-size: 1.2rem;
  line-height: 0;
  */



  /* weight: 
  thin: 100
  light: 300 
  normal: 400
  bold: 700
  heavy: 900
  */


  /*
  | <'font-weight'> |
  <'font-size'> [ / <'line-height'> ]? <'font-family'># ] |
   <system-family-name>


  [ <'font-style'> || <font-variant-css2> || <'font-weight'> || <font-width-css3> ]
  ? <'font-size'> 
  [ / <'line-height'> ]
  ? <'font-family'># ]
  <system-family-name>
  */


  /* Syntax: [ [ <'font-style'> || <font-variant-css2> || <'font-weight'> || <font-width-css3> ]? <'font-size'> [ / <'line-height'> ]? <'font-family'># ] | <system-family-name> */






  /* Effects */
  /*--shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.38);*/
}

/*---- --GLOBAL RESET & BASE STYLES ----*/
/* --Ensures consistent layout across browsers. */
/**** --Overall structure & layout of the page on the website ****/
* {
  /* --* = All elements */
  box-sizing: border-box;  /* --When the width is calculated the padding is factored in */
}

body {
  margin: 0;  /* --Removes the default spacing from browsers */
  padding: 0;  /* --Removes the default spacing from browsers */
  min-height: 100vh; 
  font-family: Trebuchet MS, Georgia, monospace, serif; /* Georgia, monospace, Trebuchet MS, serif, Courier New */ /* --!--Inria Sans dose not work*/ /* -Fallback fonts are used if Inria Sans does not load */
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* Global styling*/

input, select, textarea, button {
  min-width: 0;
}

h1 {    /* Titles/Headlines */
  font: var(--font-headlines);
  letter-spacing: 1%;
}

h2 {    /* Overlays */
  font: var(--font-small-headline);
  letter-spacing: 1%;
}

h3 {    /* bold text */
  font: var(--font-bold-paragraphs);
  letter-spacing: 0%;
}

/* Normal text */
/* p {     
  font: var(--font-paragraphs);
  letter-spacing: 1%;
} */

/* Normal text */
/* a {     
  font: var(--font-paragraphs);
  letter-spacing: 1%;
} */


textarea::placeholder {
  color: var(--color-placeholder-text);
}

hr {
  width: 100%;
  margin: 0.3rem 0;
  border-top: 2px solid var(--color-white);
}


/*---- PAGE LAYOUT CONTAINER ----*/
/* --Wraps the entire page structure */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 1vw, 1rem);
}

/*---- COMPONENTS ----*/
/* --Reusable base style for eg. buttons and links */

/*---- Button Components ----*/
/** --Basis for buttons and navigation links (links to other pages on the site) **/
/* --!-- This is the complete layout of the Log in and Sign up buttons */
.btn {
  width: 100px;
  padding: var(--padding-header); /* Before padding: 0.75rem 1rem */
  border: var(--border-default);
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  color: var(--color-text);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font: inherit;
}

.btn:hover {
  background-color: var(--color-hover-bg-light);
}


.md_btn {
  width: 160px;
  height: 40px;
  padding: 0.25rem;
  border: var(--border-light-background); /* border: 2px solid var(--color-primary-dark);*/
  border-radius: var(--radius-md);
  background-color: var(--color-bg);
  color: var(--color-text);
  text-decoration: none;
  align-content: center;
  text-align: center;
  cursor: pointer;
  font: inherit;
  font-size: 17px;
}

.md_btn:hover {
  background-color: var(--color-hover-bg);
}


.small_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  min-width: max-content;
  height: 30px;
  padding: 0.5rem;
  border: var(--border-small-btn);
  border-radius: var(--radius-md);
  background-color: var(--color-bg);
  color: var(--color-text);
  text-decoration: none;
  text-align: center;
  align-content: center;
  cursor: pointer;
  font: inherit;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 2%
}

.small_btn:hover {
  background-color: var(--color-hover-bg-light);
}


.btn_submit {
  width: 110px;
  height: 36px;
  color: var(--color-text);
  padding: 0.25rem;
  border: var(--border-light-background);
  border: var(--border-light-background);
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  background-color: var(--color-bg);
  font: inherit;
  font-size: 0.95rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  align-content: center;
}

.btn_submit:hover {
  background-color: var(--color-hover-bg);
}



/*---- TOP NAVIGATION (HEADER) ----*/ /* --Main horizontal navigation bar */
.topbar {
  background-color: var(--color-primary);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-between-elements);

  /* Makes the header stay at the top*/
  position: sticky;
  top: 0;
  z-index: 100;
}

.topbar_left, .topbar_right {
  display: flex;
  align-items: center;
  gap: var(--gap-between-elements);
  min-width: 0;  /* --Allows flex items to shrink properly */
}

/* Left side: logo and navigation */  /* --Logged in: Logo + Back button */ /* --Logged out: Logo */
.topbar_left {
  margin: 0.45rem 0 0.45rem var(--margin-sides-largescreen);
}

/* Right side: search, profile, log in, sign up */  /* --Logged in: Search_bar(+ search button) + Profile */ /* --Logged out: Search bar(+ search button) + Log in + sign up buttons*/
.topbar_right {
  margin: 0.45rem var(--margin-sides-largescreen) 0.45rem 0;
}

/*---- Header Elements (Icons and buttons) ----*/

/* Header left side */
/* site name, combined with logo */
.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 0;
  
  text-decoration: none;
  color: var(--color-text);
  border-radius: var(--radius-md);
  padding: 0.15rem 0.5rem;
}

.brand img {  /* .topbar_logo img */
  width: 55px;  /* before: 140px */ /* --Controls size */
  height: auto; /* --Keeps aspect ratio */
  display: block;  /* --Cleans up spacing issues: Removes the unwanted bottom gap. Makes sizing/layout more predictable. Lets margins behave normally (e.g., centering with margin: auto) */
}

.brand_name {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.4px;
  min-width: max-content;
  padding-left: 0.3rem;
  font: var(--font-hyperlink);
}

/* Navigation link beside logo */
/* Default (desktop) */
.nav_links {
  display: flex;
  min-width: max-content;
}

.nav_links a, .nav_dropdown {
  width: fit-content;
  border: var(--color-transparent);
  background-color: var(--color-transparent);
  /* padding: 0.4rem 0.6rem; */
  /*color: #525960;*/
}

.nav_links a:hover, .brand:hover {
  background-color: var(--color-hover-bg-light);
}

/* Hide dropdown on desktop */
/* Dropdown styling */
.nav_dropdown {
  display: none;
  position: relative;
}

.dropdown_content.nav_links {
  position: absolute;
  top: 125%;
  left: 0;
  width: max-content;
}

.dropdown_content.nav_links a {
  display: block;
  padding: var(--padding-header);
  width: 100%;
  text-align: left;
}

/* Header right side */
.search_bar {
  width: clamp(100px, 25vw, 200px);
  padding: var(--padding-header);
  outline: none;
  border: var(--border-default);
  border-radius: var(--radius-md);
  font: inherit;
}

/* --Profile button & Search button */
.btn_profile, .btn_search {
  width: 37.3px;
  height: 37.3px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_profile img {
  width: 80%;
  height: auto;
}

.btn_search img {
  padding: 0.5rem;
  height: 100%;
  width: auto;
}

.btn_search {
  display: none;
  /* --Hidden by default (visible on small screens) */
}






















/*---- MAIN CONTENT AREA (MAIN) ----*/
/* --Uses CSS Grid for layout structure.*/
/*** --Structure/layout of the main part of the page ***/
.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "heading"
    "main_components";
  flex: 1;
  gap: clamp(0.5rem, 1vw, 1rem);
  margin-left: var(--margin-sides-largescreen);
  margin-right: var(--margin-sides-largescreen);
  margin-bottom: var(--margin-sides-largescreen);
}

.heading {
  grid-area: heading;
  text-align: center;
}


/** Header with the Path/Breadcrumbs **/
.heading_wrapper {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.breadcrumbs {
  position: absolute;
  padding-left: 2px;  /* 2px is then alligned with the white part of the progressbar, 0px is then alliged witht the boarder*/
  top: 0%; /* Same baseline as heading: 57%; Same center as heading 50% (or 49.4 ish) */
  transform: translateY(-50%);
  font-size: 16px; 
  letter-spacing: 2%;
  font-weight: 100;
  /* If the text is longer than the page the overflowing will be hidden and end in ellipsis instead*/
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Links & / */
.breadcrumbs a {
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
}

.breadcrumbs span {
  color: var(--color-text);
  margin: 0 0.25rem;  /* Spacing between items and / */
}

/* Current page */
.breadcrumbs .current {
  margin: 0;
}

.breadcrumbs.back .arrow {
  color: var(--color-text);
  font-size: 1.5rem;
}

.breadcrumbs a:hover, .breadcrumbs.back:hover {
  text-decoration: underline;
}




/* Main layout with sidebar (progress section) and content */
/* --Default layout - If a page has a progress_section then it gets a layout with two columns */
.main_components {
  grid-area: main_components;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-areas: 
    "progress_section main_section";
  column-gap: 5rem;
}


/* Fallback layout when no progress section exists */
/* --If progress_section does not exist then switch to a full width layout */
.main_components:not(:has(.progress_section)) {
  grid-template-columns: 1fr;
  grid-template-areas:
    "main_section";
  margin-top: var(--gap-between-elements);
}

.main_components.no_top_margin{
  margin-top: 0;
}

.main_components:has(.progress_section.collapsed) {
  grid-template-columns: auto 1fr;
  column-gap: 5rem;
  margin-right: 5rem;
}

/*---- Progress Section (SIDEBAR, PROGRESS_GRID) ----*/
/*** --Progress bar ***/
.progress_section {
  grid-area: progress_section;
  height: fit-content;
  background-color: var(--color-white);
  border: var(--border-light-background);
  border-radius: var(--radius-md);
  padding: 0rem 1rem 1rem;
  position: relative;
}

.progress_section h3 {
  text-align: center;
}

/* Grid layout for progress items */
/** --Layout/structure of the progressbars - Progress bar **/
.progress_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.6rem 2.5rem;
  font-size: 16px;
}

/* Individual progress row */
.progress_item {
  display: grid;
  grid-template-columns: 1fr 3ch;
  column-gap: 1.25rem;
}

.progress_bar, .progress_percentage {
  color: var(--color-text);
  text-decoration: none;
  font: inherit;
}

/* Progress bar appearance */
.progress_bar {
  border: 0.75px solid var(--color-text);
  border-radius: var(--radius-md);
  padding: 0.25rem 1rem;
  text-align: left;
  background: linear-gradient(
    to right,
    var(--color-primary) var(--progress, 0%),
    var(--color-white) var(--progress, 0%)
  );
}
.tooltip_container {
  position: relative;
}

.tooltip_box {
  display: none;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(0.4rem, -50%);
  width: max-content;
  max-width: 160px;
  padding: 0.35rem 0.5rem;
  background-color: hsl(0, 0%, 95%);
  color: var(--color-text);
  border: 1px solid var(--color-text);
  border-radius: var(--radius-sm);
  z-index: 20;
  font-size: 0.75rem;
}

.tooltip_box.header_left, .tooltip_box.header_rigth{
  top: 100%;
  transform: translate(-50%, 0.4rem);
}

.tooltip_box.header_left {
  left: 100%;
}

.tooltip_box.header_rigth {
  left: 0%;
}

.tooltip_container:hover > .tooltip_box {
  display: block;
}

.progress_toggle_tooltip_container {
  position: absolute;
  top: 0.25rem;
  left: 0.4rem;
  z-index: 30;
}

.progress_toggle_tooltip_container .progress_toggle_btn {
  position: static;
}

.progress_toggle_tooltip_container:hover .progress_toggle {
  display: block;
}

.progress_toggle_btn {
  position: absolute;
  top: 0.25rem;
  left: 0.4rem;
  display: grid;
  place-items: center;
  font-size: 0;
  background-color: var(--color-white);
  border: var(--border-light-background);
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.progress_toggle_btn:hover {
  background-color: var(--color-hover-bg);
  border-color: var(--color-text);
}

.progress_toggle_btn::before {
  content: "<";
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.progress_section.collapsed {
  width: fit-content;
  min-height: fit-content;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.progress_section.collapsed .progress_content {
  display: none;
}

.progress_section.collapsed .progress_toggle_btn {
  position: static;
}

.progress_section.collapsed .progress_toggle_btn::before {
  transform: rotate(180deg);
}

/* Percentage text */
.progress_percentage {
  width: fit-content;
  padding: 0.25rem 0rem;
  text-align: right;
  justify-self: end;
}

/* -Smaller (sub-level elements) progress items */ /** --Design of the small progress bars (sub) - Progress bar **/
.progress_bar.sub, .progress_percentage.sub {
  font-size: 14px;
  margin-top: 0.25rem;
}

.progress_bar.sub {
  padding: 0.1rem 1rem;
  margin-left: 1rem;
}

.progress_percentage.sub {
  padding: 0.1rem 0;
}

/*---- Main Section ----*/
.main_section {
  grid-area: main_section;
}

/*- Grid of course cards -*/
/** --Course grid - for the pages with a grid of buttons (eg. Course Overview - First Semester and front page) **/
/* .course_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  column-gap: 5rem;
} */

.course_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: clamp(1rem, 3vw, 3rem) clamp(1rem, 5vw, 5rem);
}

.course_card {
  min-height: 70px;
  padding: 1rem;
  border: var(--border-light-background);
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  text-decoration: none;
  color: var(--color-text);
  text-align: center;
  font: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

/* --The effect when hovering the mouse over one of the buttons on the grid */
.course_card:hover {
  transform: translateY(-2.5px);
  /* box-shadow: var(--shadow-soft); */
  background-color: var(--color-hover-bg);
}

.course_grid_front_page {
  column-gap: clamp(1.25rem, 5vw, 5rem);
}

/* .course_grid_semester_page {
  grid-template-columns: repeat(2, 1fr);
} */

/* --No hover effect on page: DTG - Previous Exams */
.course_card.prior_exams {
  cursor: default;
}

.course_card.prior_exams:hover{
  transform: translateY(0);
  /* box-shadow: var(--shadow-soft); */
  background-color: var(--color-white);
}

.course_card.prior_exams a:hover {
  background-color: var(--color-hover-bg-light);
}

/* -DTG Information page */
.dtg_info {
  background-color: var(--color-white);
  border: var(--border-light-background);
  border-radius: var(--radius-md);
  padding: 0rem 1.5rem 1.2rem 1.5rem; /*    padding: 0rem 1rem 1rem;    ******//**************************************************/
  height: max-content;
}

.dtg_info.one{
  margin-bottom: 20px;
}

.dtg_info h3 {
  margin-bottom: 5px;
}

.dtg_info li {
   margin-top: 10px;
}


/*- Dropdown for blocks under DTG -*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton.blocks_card {
  width: 100%;
}

/* --Hidden by default */
.dropdown_content {
  display: none;
  position: static;
  top: 100%;
  right: 0;
  background-color: var(--color-white);
  border: var(--border-light-background);
  border-radius: var(--radius-md);
  min-width: 100%;
  z-index: 2;
}

/* Links inside dropdown */
.dropdown_content a {
  display: block;
  text-decoration: none;
  color: var(--color-text);
  margin: 0.35rem 0;
}

.dropdown_content:not(.profile_dropdown) a {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.dropdown_content a:hover {
  background-color: var(--color-bg);
}

/* Show dropdown when active */
.dropdown.active .dropdown_content {
  display: block;
}

/* BLOCKS DROPDOWN */
.blocks_card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blocks_arrow {
  position: absolute;
  right: 1rem;
  font-size: 1.15rem;
  transition: transform 0.3s ease;
}

.dropdown.active .blocks_arrow {
  transform: rotate(180deg);
}



/*---- FOOTER (FOOTER) ----*/
.footer {
  background-color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_column_left {
  margin: 0.6rem 0 0 var(--margin-sides-largescreen);
}

.footer_column_right {
  margin: 0.6rem var(--margin-sides-largescreen) 0 0;
}

/** --Font size and -margin/padding -- Footer **/
.footer_column h4 {
  margin: 0 0 0.5rem;
  font-size: 16px;
}

.footer_column ul, .footer_column li, .footer_column p {
  margin: 0.35rem 0 0;
}

.footer_column ul, .footer_column p {
  padding-left: 1.5rem;
}

.footer_column a {
  color: var(--color-text);
  text-decoration: none;
}

.footer_column.visible_link a:hover {
  text-decoration: underline;
}

.footer_column a:hover, .footer_column li:hover {
  color: var(--color-hover-text);
}

.footer.one{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer hr {
  margin: 0.75rem 0;
}

.footer_column.three {
  line-height: 150%;
  background-color: var(--color-white);
  border: var(--border-light-background); 
  border-radius: var(--radius-md);
  padding: 1rem 1.5rem;

  margin-inline: auto;
}

/*---- POPUPS, DROPDOWN, & OVERLAYS ----*/
.popup {
  width: max-content;
  height: max-content;
  background-color: var(--color-white);
  border-radius: var(--radius-md);
  border: var(--border-light-background);
  position: absolute;
  padding: 1.5rem 1.75rem;
}

/*---- Profile Dropdown ----*/
.profile_dropdown {
  flex-direction: column;
  gap: 0.75rem;
  font-size: 16px;
  display: none;
  top: calc(100% + 0.5rem);
  right: 0;
}

.profile_section_title, .profile_link {
  font-weight: 600;
}

.profile_divider {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.profile_link {
  display: block;
  width: 100%;
  color: var(--color-text);
  padding: 0.15rem 0;
  text-decoration: none;
  border-radius: var(--radius-sm);
}

.profile_link:hover {
  background-color: var(--color-hover-bg);
}

.profile_divider hr {
  width: 100%;
  margin: 0.3rem 0;
  border-top: 2px solid var(--color-text);
}

.profile_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.25rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-between-elements);
  padding-top: 0.75rem;
  min-width: max-content;
}

.button.yes {
  padding-top: 2.75rem;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

.btn_delete {
  border: var(--border-default);
  background-color: var(--color-white);
}

.dropdown.active .profile_dropdown {
  display: flex;
  flex-direction: column;
}


/*---- Overlay ----*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* var(--color-hover-bg) */
  z-index: 3;
  justify-content: center;
  align-items: center;
}

.overlay.active {
  display: flex;
}

.inside_overlay {
  padding: var(--gap-between-elements);
  background-color: var(--color-white);
  border-radius: var(--radius-lg);
  border: var(--border-light-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*---- Successfully Deleted Profile Overlay ----*/
.delete_profile {
  width: min(65%, 700px);
  row-gap: var(--margin-sides-largescreen);
}

/*---- Submission Check Overlay ----*/
.submission_check {
  max-height: 210px;
  width: min(50%, 600px);
  font-size: 20px;
}

.md_btn.cancel {
  border-color: var(--color-red);
}

.md_btn.submit {
  border-color: var(--color-text);
}

.inside_overlay h2 {
  margin: 0;
}

/*---- Submission Successful Overlay ----*/
.submission_succes {
  width: min(65%, 800px); /*   width: 773px; */
  max-height: 562px;
  font-size: 20px;
}

.md_btn.yes {
  width: 200px;
  /* border-color: var(--color-text); */
}

.submission_succes .question {
  font-weight: 600;
}

.signup_container {
  width: 100%;
  max-width: 750px;
  min-height: 560px;
  height: auto;
  background-color: var(--color-primary);
  border-radius: var(--radius-lg);
  padding: 2rem 5rem;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 15px;
}

.signup_container h1 {
  text-align: center;
  margin-top: 0px;
  font-size: 44px;
  margin-bottom: 15px;
}

.signup_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem 2rem;
}

.signup_item {
  display: flex;
  flex-direction: column;
}

.signup_item label {
  font-size: 20px;
  margin-bottom: 5px;
  color: var(--color-text);
}

.signup_item input {
  width: 100%;
  height: 45px;
  padding: 0 1rem;
  border: var(--border-dark-background);
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  font-size: 0.95rem;
  box-sizing: border-box;
  font-family: inherit;
}

.signup_item select {
  width: 100%;
  height: 45px;
  padding: 0 1rem;
  border: var(--border-dark-background);
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  font-size: 0.95rem;
  box-sizing: border-box;
  color: var(--color-placeholder-text);
}

.signup_role {
  height: 45px;
  background-color: var(--color-white);
  border: var(--border-dark-background);
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  box-sizing: border-box;
  gap: 1rem;
}

.role_option {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 0;
  font-size: 1rem;
}

.role_option input {
  width: 18px;
  height: 18px;
  margin-top: 10px;
}

.role_option p {
  margin-top: 23px;
  color: var(--color-placeholder-text);
  font-size: 16px;
}

.role_option input:checked + p {
  color: var(--color-text);
}

input[type="checkbox"] {
  accent-color: var(--color-text);
  cursor: pointer;
}

.signup_row_two {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  grid-column: 1 / 3;
}

.signup_item [option="value"] {
  color: var(--color-text);
}

#field {
  width: 198px;
  height: 45px;
  cursor: pointer;
  font-family: inherit;
}

#semester {
  width: 155px;
  height: 45px;
  cursor: pointer;
  font-family: inherit;
}
#university {
  width: 206px;
  height: 45px;
  cursor: pointer;
  font-family: inherit;
}

.emails {
  grid-column: 1 / 3;
}

.signup_row_four {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  grid-column: 1 / 3;
}

.signup-btn {
  display: block;
  width: 220px;
  margin: 1.5rem auto 0; /* centrerer */
  padding: 0.9rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--color-text);
  background-color: var(--color-white);
  border: var(--border-dark-background);
  border-radius: var(--radius-md);
}

.signup-btn:hover {
  background-color: var(--color-white);
}





















/* Submission info Page*/
.big_box {
  background-color: var(--color-white);
  border-radius: var(--radius-lg);
  border: var(--border-light-background);
  padding: 2rem;
  justify-self: center;
  width: 100%; /* 85%? */
  line-height: 1.5;
}


/* .submission_box {
  width: 1170px;
  height: 490px;
  margin: 0px auto 0px;
  background-color: var(--color-white);
  border: var(--border-small-btn);
  border-radius: var(--radius-lg);
  padding: 65px 20px 0px;
  position: relative;
  box-sizing: border-box;
} */




.small_submit_header.one, .big_box h3, .big_box p {
  margin: 0;
}

.small_submit_header.one{
  margin-bottom: 10px;
  font-size: 20px;
}

.big_box h3 {
  margin-top: 10px;
}

.big_box p {
  font-size: 18px;
}

.small_text.one, .small_text.two {
  margin-bottom: 10px;
  font-size: 14px;  /*The same as 10.5pt - pt is used in e.g. words and drev*/ 
}

.small_text.two {
  margin-bottom: 2rem;
}

.md_btn.submission {
  text-decoration: none;
  color: var(--color-text);
  padding: 0.25rem 0.75rem;
}








.login-box{
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
}

.login-item {
  display: flex;
  flex-direction: column;
  margin: 40px 0px 0px;
  font-family: inherit;
}

.login-item label {
  font-size: 20px;
  margin: 0px 0px 5px;
  color: var(--color-text);
}

.login-item input {
  width: 100%;
  height: 60px;
  padding: 10px 10px;
  border: var(--border-dark-background);
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 0px;
  font-family: inherit;
}

.login-row-one-two {
  margin: 0px 0px 20px;
}

.login-row-four {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 18px;
}

.login-btn{
  width: 180px;
  height: 60px;
  margin: 0px 0px 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: var(--color-text);
  background-color: var(--color-white);
  border: var(--border-dark-background);
  border-radius: var(--radius-md);
}

.question {
  text-align: right;
}
.question a{
  color: var(--color-text);
}

.signup-link {
  text-align: left;
  font-size: 18px;
  color: var(--color-text);
}






/* HERE DID THE OLD RESPONSIVE DESIGN START */







.block_section {
  grid-column: 1 / -1;
  height: auto;
  width: 100%;
  background-color: var(--color-white);
  border: var(--border-light-background);
  border-radius: var(--radius-md);
  padding: 0rem 2rem 2rem;
}

.lecture_list {
  list-style: none;
  margin: 0;
  padding: 1rem 0 0;
}

.lecture_item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 0;
  cursor: pointer;
}

.lecture_item input {
  width: 18px;
  height: 18px;
  accent-color: var(--color-text);
}
.lecture_dropdown {
  border-bottom: 1px solid var(--color-bg);
}

.lecture_content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0 0 1rem 3rem;
  accent-color: var(--color-text);
}

input[type="checkbox"] {
  cursor: pointer;
}

.lecture_counter {
  margin-left: auto;
  margin-right: 0.5rem;
}

.lecture_arrow {
  font-size: 1.15rem;
  transition: transform 0.3s ease;
}

.invisible_arrow {
  visibility: hidden;
}

.lecture_dropdown[open] .lecture_arrow {
  transform: rotate(180deg);
}

.btn_submission {
  width: 120px;
  height: 45px;
  border-radius: var(--radius-md);
  display: flex;
  justify-self: end;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  background-color: var(--color-bg);
  border: var(--border-light-background);
  padding: 10px 14px;
  font-style: inherit;
  font: inherit;
}

.submission_header {
  background-color: var(--color-primary);
  margin-top: 20px;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: var(--radius-md);
  border: var(--border-dark-background);
}

.submission_header h2 {
  font-size: 20px;
  margin: 0;
  color: var(--color-text);
}

.submission_row {
  width: 100x;
  margin: 10px 0px 0px 10px;
  background-color: var(--color-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-size: 20px;
  color: var(--color-text);
  border: var(--border-light-background);
  border-radius: var(--radius-md);
}

.date {
  color: var(--color-placeholder-text);
}



/* ---- Submission Form ---- */
.submission_form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "intro intro intro"
    "program course type"
    "content content content"
    "comments comments attachments"
    "submit submit submit";
  gap: var(--gap-between-elements);
  /* margin-top: 1.75rem; */
}

/* Grid areas */
.intro_text {
  grid-area: intro;
}

.program {
  grid-area: program;
}

.course {
  grid-area: course;
}

.type {
  grid-area: type;
}

.content {
  grid-area: content;
}

.comments {
  grid-area: comments;
}

.attachments {
  grid-area: attachments;
}

.submit {
  grid-area: submit;
  justify-self: end;
}



/** FORM FIELD STRUCTURE **/
.form_field {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  min-width: 0;
}

/* Label */
.form_field label {
  font: inherit;
  color: var(--color-text);
}

/* Inputs, selects & attachments*/
.form_field select, .form_field input, .form_field textarea, .attach_box {
  width: 100%;
  font: inherit;
  font-size: 0.9rem;
  border: var(--border-light-background);
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  padding: 0.5rem 0.75rem;
}
/* Select specific */
.form_field select {
  height: 40px;
  cursor: pointer;
  /* padding: 0 0.75rem; */
  color: var(--color-placeholder-text); /* default = grey */
}

/* only the placeholder option stays grey */
.form_field select:valid {
  color: var(--color-text);
}

/** TEXTAREAS **/
.ta {
  resize: none;
  overflow-y: hidden;
  min-height: 110px;
  max-height: 300px;
}

.ta.content {
  min-height: 220px;
  max-height: 680px;
}

/** ATTACHMENTS MODULE **/
/* Attach box layout */
.attach_box {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden; /* important */
}

/* top section (icon + text stays visible always) */
.attach_box_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  gap: 0.4rem;
  flex: 0 0 auto;
}

/* scrollable file area */
.file_list {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  padding: 0.25rem 0.75rem;
}

/* Upload SVG Icon */
.upload_icon {
  width: 26px;
  height: 26px;
  stroke: var(--color-placeholder-text);
  stroke-width: 1.6;
  fill: none;
}

/* Text */
.upload_text {
  color: var(--color-placeholder-text);
}

/* Hover state */ /* Complete hover for Attach box */
.attach_box:hover, .attach_box:hover .upload_text, .attach_box:hover .upload_icon {
  color: var(--color-text);
  stroke: var(--color-text);
  background-color: var(--color-hover-bg-light);
}

/* Hidden file input */
#fileInput {
  display: none;
}

/* File list */
.file_list {
  margin-top: 0.4rem;
  width: 100%;
}

.file_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;
  font-size: 0.82rem;
}

.file_item button {
  border: none;
  background: none;
  font-size: 0.8rem;
  color: var(--color-placeholder-text);
  cursor: pointer;
}


/* TOAST */
.toast {
  position: fixed;
  bottom: 6rem;
  left: 50%;
  transform: translate(-50%, 60px);
  padding: 0.75rem 1.5rem;
  background: #333;
  color: var(--color-white);
  border-radius: var(--radius-md);
  font-size: 0.9rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}

.toast.show {
  opacity: 1;
  transform: translate(-50%, 0);
}









/* Show loggedin header when active */

/* Default is logged out, so remove logged in components */
/* Just to test*/
/* #navLoggedInDesktop.active, #navLoggedInMobile.active, #userProfile.active {
  display: none;
}
#navLoggedOutDesktop.active, #navLoggedOutMobile.active, #authButtons.active {
  display: none;
} */



.logged_out.active {
  display: none;
}

.logged_in.active {
  display: none;
}




/* DTG - Previous Exams --Page */
.exam_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


























/*---- RESPONSIVE DESIGN ----*/

@media screen and (max-width: 1190px) {
  /* The nav links becomes a dropdown menu */
  .nav_links {
    display: none;
  }

  .nav_dropdown {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  /** The Path/Breadcrumbs **/
  .heading_wrapper:has(.breadcrumbs) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .breadcrumbs {
    position: static;
    transform: none;
    /* margin-top: 0.25rem; */
    text-align: center;
    padding-left: 0;
    margin-bottom: 0.25rem;
  }

  /* -Submission info page*/
  /* .big_box {
    width: 100%;
  } */
}

@media screen and (max-width: 900px) {
  /* --The grid of buttons becomes one column instead of two - on a semester page*/
/*   .course_grid_semester_page {
    grid-template-columns: 1fr;
    row-gap: clamp(0.5rem, 2vw, 2rem);
  } */

  /* --The grid of buttons becomes two columns instead of three - on a front page*/
/*   .course_grid_front_page {
    grid-template-columns: repeat(2, 1fr);
  } */

  /* --Overlays */
  .inside_overlay h2 {
    font-size: large;
  }

  /** Replace search bar with icon **/
  /* --Hide full search bar */
  .topbar .search_bar {
    display: none;
  }
  
  /* --Show icon instead of search bar */
  .topbar .btn_search {
    display: block;
  }

  .md_btn.cancel, .md_btn.submit, .md_btn.no {
    width: clamp((90/16) * 1rem, (140/16) * 1vh, (140/16) * 1rem);
  }
}

@media screen and (max-width: 780px) {
  .submission_form {
    grid-template-columns: 1fr;
    grid-template-areas:
      "intro"
      "program"
      "course"
      "type"
      "content"
      "comments"
      "attachments"
      "submit";
    row-gap: var(--margin-sides-smallscreen);
  }
}

@media (min-width: 711px) {
  .footer.three {
    padding: 0 var(--margin-sides-largescreen) 1.75rem var(--margin-sides-largescreen);
  }
}

@media screen and (max-width: 710px) {

  /* Replace search bar with icon */
  /* --Hide full search bar */
  .search_bar {
    display: none;
  }

  /* --Show icon instead of search bar */
  .btn_search {
    display: block;
  }

  /* Stack sidebar and content vertically */
  /* --Pages with a sidebar become one column */
  .main_components {
    grid-template-columns: 1fr;
    grid-template-areas:
      "progress_section"
      "main_section";
    row-gap: var(--gap-between-elements);
  }

  .main_components:has(.progress_section.collapsed) {
    grid-template-columns: 1fr;
    margin-right: 0rem;
  }

  .progress_section.collapsed {
    justify-self: start;
    margin-bottom: 1.5rem;
  }

  /* Progress grid becomes two columns */
  /* --The progress bars becomes two columns instead of one */
  .progress_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* --Overlays */
  .inside_overlay {
    padding: var(--margin-sides-smallscreen);
    row-gap: var(--margin-sides-smallscreen);
  }

  /** Reduce side margins on medium small screens **/
  /* --The left side margins are changed to become slimmer - sides of the screen to the first element */
  .topbar_left, .main, .footer_column_left {
    margin-left: var(--margin-sides-mdscreen);
  }

  /* The right side margins are changed to become slimmer - sides of the screen to the first element */
  .topbar_right, .main, .footer_column_right {
    margin-right: var(--margin-sides-mdscreen);
  }
}

@media screen and (max-width: 610px) {
  /* Pages without a sidebar becomes one column */
  .main_components:not(:has(.progress_section)) {
    grid-template-columns: 1fr;
  }

  /** Hide brand_name (Site title) **/
  .topbar .brand_name {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  /* Reduce side margins on small screens */
  /* --The left side margins are changed to become slimmer - sides of the screen to the first element */
  /* The right side margins are changed to become slimmer - sides of the screen to the first element */
  .topbar_left, .topbar_right, .main, .footer_column_left, .footer_column_right {
    margin-left: var(--margin-sides-smallscreen);
    margin-right: var(--margin-sides-smallscreen);
    justify-content: center;
  }
}


@media (min-width: 1400px) {
  .course_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 631px) {
  .main_components {
    margin-bottom: clamp(5rem, 7vw, 8rem);
  }
}