<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/svg+xml" href="../imgs/Logo_website_tab.svg"/>
    <link rel="stylesheet" href="../style.css"/>
    <script src="../scripts/script.js" defer></script>
    <script src="../scripts/login.js" defer></script> <!-- --This is the script for the log in form. It is only linked to the login page, because it is only used there. -->
<!--     <script src="../scripts/logout.js" defer></script> -->
    <script src="../scripts/header.js" defer></script>
    <script src="../scripts/profile.js" defer></script>
<!--     <script src="../scripts/profile.js" defer></script> -->
    <title>Log in - Exam Ease</title>
</head>
<body id="body">
    <div class="container">
        <header class="topbar">
            <div class="topbar_left">
                <div class="tooltip_container">
                    <a href="index.html" class="brand" aria-label="Go to frontpage">
                        <img src="../imgs/Logo_header.svg" alt="Exam Ease logo">
                        <span class="brand_name">Exam Ease</span>
                    </a>
                    <div class="tooltip_box header_left">
                        Navigate to Homepage
                    </div>
                </div>
            <!-- Normal nav (desktop) -->
                <!-- Normal nav (desktop) logged IN -->
                <div class="logged_in">
                    <nav class="nav_links">
                        <a href="./submissions/my_submission.html" class="btn">My Submissions</a>
                        <a href="./submissions/submission_form.html" class="btn">Submission Form</a>
                        <a href="./submissions/submission_form.html" class="btn">Submission Information</a>
                    </nav>
                </div>
                <!-- Normal nav (desktop) logged OUT -->
                <div class="logged_out">
                    <nav class="nav_links">
                        <a href="./submissions/submission_form.html" class="btn">Submission Form</a>
                        <a href="./submissions/submission_form.html" class="btn">Submission Information</a>
                    </nav>
                </div>
            <!-- Small nav (mobile) -->
                <!-- Dropdown nav (mobile) -->
                <div class="dropdown">
                    <button class="btn nav_dropdown dropdownButton">Menu</button>
                    <!-- Dropdown nav (mobile) logged IN -->
                    <div class="logged_in">
                        <nav class="dropdown_content nav_links">
                            <a href="./submissions/my_submission.html" class="btn">My Submissions</a>
                            <a href="./submissions/submission_form.html" class="btn">Submission Form</a>
                            <a href="./submissions/submission_form.html" class="btn">Submission Information</a>
                        </nav>
                    </div>
                    <!-- Dropdown nav (mobile) logged OUT -->
                    <div class="logged_out">
                        <nav class="dropdown_content nav_links">
                            <a href="./submissions/submission_form.html" class="btn">Submission Form</a>
                            <a href="./submissions/submission_form.html" class="btn">Submission Information</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="topbar_right">
                <button class="btn btn_search">
                    <img src="../imgs/search-icon.webp" alt="Search icon">
                </button>
                <input class="search_bar" type="text" placeholder="Search">
                <!-- right header logged IN -->
                <div class="logged_in">
                    <div class="dropdown" id="userProfile">
                        <div class="tooltip_container">
                            <button class="btn btn_profile dropdownButton" aria-label="Show profile">
                                <img src="../imgs/profile_icon.svg" alt="Profile icon">
                            </button>
                            <div class="tooltip_box header_rigth">
                                Show Profile
                            </div>
                        </div>
                        <aside class="popup profile_dropdown dropdown_content">
                            <div class="profile_header" id= "profile_username"></div> <!-- --Username from profile.js -->
                            <div class="profile_divider">
                                <hr/>
                                <a href="./submissions/my_submission.html" class="profile_link">My Submissions</a>
                                <hr/>
                            </div>
                            <div class="profile_section_title" id="profile_role"></div> <!-- --Role from profile.js -->
                            <div class="profile_info">
                                <span id="profile_email"></span>
                                <span id="profile_university"></span>
                                <span id="profile_semester"></span>
                                <span id="profile_fieldofstudy"></span>
                            </div>
                            <div class="buttons">
                                <button class="small_btn btn_logout" id="logoutBtn">Log out</button> <!-- NEW LOG OUT BUTTON -->
                                <button class="small_btn btn_delete" onclick="on('deleteOverlay')">Delete profile</button>
                            </div>
                        </aside>
                    </div>
                </div>
                <!-- right header logged OUT -->
                <div class="logged_out">
                    <a href="login.html" class="btn btn_ghost_login">Log in</a>
                    <a href="signup.html" class="btn btn_signup">Sign up</a>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="signup_container">
                <section class="heading_wrapper">
					<h1 class="heading">Log in</h1>
				</section>
                <div class="login-item">
                    <div class="login-box">
                        <div class="login-row-one-two">
                            <label for="email">E-mail</label>
                            <!-- <input type="text" id="email" placeholder="E.g. Sara123" name="email" autocomplete="email"> --> <!-- ikke ændre -->
                            <input type="text" id="email" placeholder="E.g. Sara123" name="email" autocomplete="email">
                        </div>

                        <div class="login-row-one-two">
                            <label for="password">Password</label>
                            <!-- <input type="password" id="password"> --> <!-- ikke ændre -->
                            <input type="password" id="password" name="password" autocomplete="current-password">
                        </div>

                        <!-- LOG IN KNAPPEN -->
                        <button class="signup-btn" id="loginBtn">Log in</button> <!-- ikke ændre -->
                        <div class="login-row-four">
                            <a href="signup.html" class="signup-link">Don’t have an account? Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer one">
            <div class="footer">
                <div class="footer_column footer_column_left">
                    <h4>Features</h4>
                    <ul>
                        <li><a href="../first_semester.html">Explore First Semester Courses</a></li>
                        <li><a href="../dtg_blocks/dtg_block1.html">View DTG Curriculum</a></li>
                    </ul>
                </div>
                <div class="footer_column footer_column_right visible_link">
                    <h4>IT Support</h4>
                    <p><a href="#">Tel: +45 00 00 00 00</a></p>
                    <p><a href="#">E-mail: itservice@support.dk</a></p>
                </div>
            </div>
            <hr/>
            <div class="footer three">
                <div class="footer_column footer_column_left footer_column_right three">
                    <h4>About Exam Ease</h4>
                    <!-- <p>Streamline Your Exam Preparation Process - Stay Organized and Prepared for Your Exams with Exam Ease.</p> -->
                    <p>Exam Ease is a platform designed to simplify exam preparation and study management for students across multiple Aalborg University programs and semesters.</p>
                    <p>
                        By gathering up-to-date exam information, previous exam sets, curriculum overviews detailing the topics covered in the course, and course details, in one convenient place,
                        Exam Ease makes it easier for students to access information they need to know about their courses and exams.
                    </p>
                    <p>
                        The platform provides students with a starting point for exam preparation.
                        Making it easier for students to start creating effective study plans while the integrated progress tracker allows them to easily monitor their study progress and stay on top of their goals.
                        Helping students feel prepared for their exams, stay organized, and navigate their courses and curriculum stress-free.
                    </p>
                </div>
            </div>
        </footer>
    </div>

    <!-- OVERLAYS -->
	<!-- Profile Has Been Successfully Deleted -->
	<div class="overlay" id="deleteOverlay">
		<div class="inside_overlay delete_profile">
		<h1>Your profile has been successfully deleted!</h1>
		<a href="index.html" class="md_btn close" onclick="off('deleteOverlay')">Close</a>
		</div>
	</div>


</body>
</html>

