.container{
    max-width: 1440px;
    display: grid;
    height: 100vh;
    grid-template-columns: 290px auto;
    grid-template-rows: 100px 3rem auto 120px;
    grid-template-areas:
        "header header"
        "title title"   
        "aside main"
        "footer footer";
    grid-gap: 2rem;
}

header, section, aside, main, footer{
    font: inherit;

    cursor: pointer;
}

aside, main{
    border: 2px solid var(--color_primary_dark);
    border-radius: var(--radius_md);    
    background: var(--color_white);
    padding: 1rem;

    
}


header{
    grid-area: header;
}
section{
    grid-area: title;
    margin-left: 2.75rem;
    margin-right: 2.75rem;
}
aside{
    grid-area: aside;
    margin-left: 2.75rem;
    margin-right: 1rem;
}

main{
    grid-area: main;
    margin-left: 1rem;
    margin-right: 2.75rem;
}

footer{
    grid-area: footer;
    padding-top: 0rem;
    padding-bottom: 0rem;
    align-items: center;

}


.btn_profile {
    padding-left: 0rem;     /*Not really necessary, but just to be sure, it's aligned correctly*/
    padding-right: 0rem;    /*Not really necessary, but just to be sure, it's aligned correctly*/
    text-align: center;
    width: 50px;
}


.hero {
  text-align: center;
  padding: 0rem 0rem 0rem;
}

.hero h1 {
  text-align: center;
  margin: 0 0 0;
  padding: 0rem 0rem 0rem;
}



@media only screen and (max-width: 600px){ /*@media (max-width: 900px) */
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "aside"
            "main"
            "footer";
    }
    .footer {
        flex-direction: column;
    }
}